html {
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

*, *::before, *::after {
	box-sizing:inherit;}

header {
  background-color:#e7001d;
  text-align:center;

}

.headersymbol {
  color:white;
  font-size:30px;
  text-shadow: 0 2px 5px black;
}

h1 {
  text-shadow: 0 2px 5px black;
  color:white;
  font-style:italic;
  position:absolute;
  bottom:2px;
  text-align:center;
  width:100%;
}
.mainimage{
  position:relative;
}

.banner{
  width:100%;
  position:relative;
}

h3 {
  color:white;
  font-size:14px;
  text-shadow: 0 2px 5px black;
}

body {
  margin:0;
}

.Dragonnav{
  float:left;
  width:50%
}

.Goatnav{
  float:right;
  width:50%
}
.Roosternav{
  float:left;
  width:50%
}

.Oxnav{
  float:right;
  width:50%}


li {
  color:white;
  list-style-type:none;
}

.p2 {
  font-style:italic;
  margin:0;
  padding:3em 2em 2em 2em;
  text-align:center;
  font-size:12px;
}



.medallion{
  width:50%;
  color:black;


}

nav {
  background-color:#222222;
  padding:3em;
  text-color:white;

}

h2 {
  text-align:center;
  margin:0;
  padding: 1em 0em 1em 0em;
}

.dragon {
  background-color:#e4c22a;

}

.ds {
  float:left;
  width:50%;

}

.dra {
  float:right;
  width:50%;


}

.gs{
  float:right;
  width:50%;

}

.goa{
  float:left;
  width:50%;
}

.rs{
  float:left;
  width:50%;
}

.roostertitle{
  color:white;
}
.roos{
  float:right;
  width:50%;

}

.os{
  float:right;
  width:50%;
}

.oxx{
  float:right;
  width:50%;

}

.goat {
  background-color:#222222;


}

.rooster {
  background-color:#bc0017;
}

.ox {
  background-color:#e4c22a;
}

footer {
  background-color:#222222;
  padding:2em;
  margin:0;
  text-align:center;

}

.footer {
  color:white;
  font-size:12px;
  text-decoration:underline;
}

.goattitle {
  color:white;
}

.p3 {
  font-style:italic;
  color:white;
  margin:0;
  padding:3em 2em 2em 2em;
  text-align:center;
  font-size:12px;
}

p {
  font-size:15px;
  margin:1em 1em 1em 1em;

}

a {
  text-decoration:none;
  color:white;

}
